.o-instituto{
    background: var(--global-white-color);
}

.helpme{
    background: var(--global-secondary-color);
    height: 858px;
}

.box{
    width: auto;
        height: auto;
        border-left: 4px solid var(--global-secondary-color);
        padding: 0 2%;
         i{
            color: var(--global-primary-color);
         }

         &:hover{
            i{
                color: var(--global-secondary-color);
            }
         }
         span{
            font-weight: 900;
         }
    }

    .atendimento{
        h3{
            color: var(--global-secondary-color);
        }
        p{
            margin: 0;
        }
    }
