.user{
    &__login{
        height: 50px;
        border-bottom:2px solid #f8f8f8;
        i{
            font-size: 16px;
        }

    }

    &__dashboard{
        height: 200px;
        width: 100%;
        background:  var(--global-secondary-color);

        &__figure{
            i{
                color: var(--global-white-color);
            }
        }
        &__content{
            p{
                color: var(--global-white-color);
            }

        }
    }
}
